* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #2b4857;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 60px;    
}
.nav-links a {
    text-decoration: none;
    color: #ece7dd; 
    font-size: 18px;
    padding: 5px 10px;
    transition: color 0.3s ease, background-color 0.3s ease;
}
.nav-links a:hover {
    background-color: #c7a8a3;
    color: #ece7dd;
    border-radius: 5px;
}
.profile-icon img {
    width: 30px;
    height: 30px;
}
.logo {
    margin-right: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #ece7dd; 
}
.logo:hover {
    color: #555;
    cursor: pointer;
}
.search-section {
    text-align: center;
    padding: 20px;
}
.search-bar {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.search-bar input {
    padding: 10px;
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.search-btn, .view-toggle-btn {
    padding: 10px 15px;
    background-color: #888;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    color: white;
}
.therapist-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    padding: 40px;
    
}
.card {
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 20px;
    text-align: center;
    background-color: #efedea;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s, box-shadow 0.3s;
}
.card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); 
}
.card img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}
.card-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
.card-buttons button {
    background-color: #2b4857;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.card-buttons button:hover {
    background-color: #c7a8a3;
}
@media (max-width: 768px) {
    .therapist-cards {
        grid-template-columns: repeat(2, 1fr); 
    }
}
@media (max-width: 480px) {
    .therapist-cards {
        grid-template-columns: 1fr; 
    }
}